application (name = app theme = Adwaita-dark) = {
  vertical-box = {
	 horizontal-box = {
		grid = {
		   draw (attach-left = 0 attach-right = 8 attach-top = 0 attach-bottom = 8 name = draw-demo)
		   console (attach-left = 0 attach-right = 4 attach-top = 8 attach-bottom = 12 name = console)
		}
	 }
  }
}
